* {
    font-family: "Poppins";
}

.space {
    margin-bottom: 30px;
}

.container {
    display: flex;
    padding-left: 85px;
}

.container .left-main-side {
    flex: 20%;
    margin-top: 25px;
    height: 600px;
    border: #dedede solid 1px;
    border-radius: 5px;
}

.container .right-side {
    flex: 65%;
    padding: 20px;
}

.search-container {
    display: flex;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    width: 902px;
    margin-bottom: -34px;
    padding-left: 0px;
}

.search-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

.search-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    background-color: #ff0000;
    border: #ff0000 solid 1px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    border: #ff0000 solid 1px;
    background-color: #ffffff;
    color: rgb(255, 0, 0);
}

.branch-list {
    margin-top: 60px;
    margin-bottom: 40px;
}

.branch-box {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    width: 900px;
    padding: 0px;
    margin-bottom: 20px;
}

.branch-list .branch-box .left-side {
    display: flex;
    flex: 75%;
    flex-direction: column;
    padding-left: 20px;
}

.branch-list .branch-box .right-side{
    flex: 25%;
    padding: 0px;
    padding-left: 145px;
}

.right-side .branchImage {
    height: 200px;
    border-radius: 5px 0px 0px 0px;
    padding: 0;
}

.title {
    margin-top: -10px;
    display: flex;
    margin-bottom: -35px;
}

.branch-title {
    font-size: 18px;
    font-weight: 600;
    color: #ff0000;
}

.status-box {
    margin-top: -5px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.status {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 550;
    margin-left: 15px;
    background-color: rgb(234, 234, 234);
    width: 80px;
    padding-left: 7px;
    border-radius: 5px;
    margin-top: 26px;
}

.status-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    margin-right: 5px;
}

.rate-box {
    display: flex;
    align-items: center;
    margin-top: -7px;
}

.rating-and-reviews {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.rating {
    font-size: 15px;
    font-weight: 550;
    margin-right: 5px;
}

.reviews {
    font-size: 15px;
    color: #2c2c2c;
    font-weight: 550;
}

.rates {
    display: flex;
    align-items: center;
}

.star {
    margin-right: 5px;
}

.buttons {
    display: flex;
    margin-bottom: -5px;
}

.button {
    margin-right: 5px;
}

.button-text {
    background-color: rgb(234, 234, 234);
    padding: 5px 10px;
    border-radius: 5px;
    color: #4f4f4f;
    font-weight: 550;
}

.fa-shipping-fast, .fa-clock {
    margin-right: 3px;
}
